.home-container {
  color: #fff;
}

.song-card-hero {
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 0.3s;
  cursor: pointer;
}

.song-card-hero:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.hero-img {
  width: 80px;
  height: 80px;
  object-fit: cover;
}

.song-list-header,
.song-row {
  grid-template-columns: 30px 4fr 3fr 2fr 1fr;
  align-items: center;
  gap: 15px;
}

@media (max-width: 992px) {
  .song-list-header,
  .song-row {
    grid-template-columns: 30px 4fr 3fr 1fr;
  }
}

@media (max-width: 768px) {
  .song-list-header,
  .song-row {
    grid-template-columns: 30px 1fr 80px;
  }
}

.song-row {
  transition: background-color 0.2s;
  cursor: pointer;
}

.song-row:hover,
.song-row.active-song {
  background-color: rgba(255, 255, 255, 0.1);
}

.song-img {
  width: 40px;
  height: 40px;
}

.text-truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.search-box-container {
  max-width: 360px;
}

.search-input {
  background-color: #242424 !important;
  border: 1px solid #333 !important;
  color: #fff !important;
  padding: 12px 20px 12px 44px !important;
  font-size: 14px;
}

.search-input:focus {
  background-color: #2a2a2a !important;
  border-color: #fff !important;
  box-shadow: none !important;
}

.search-input::placeholder {
  color: #929292 !important;
  opacity: 1;
}

.search-icon {
  left: 14px;
  top: 50%;
  transform: translateY(-50%);
  color: #fff;
  z-index: 10;
}
